@charset "UTF-8";

body{
    background-color: #C8B8FF;
    font-family: 'Lato', sans-serif;
}
h1{
    color: #AA8939;
    font-family: 'Montserrat', sans-serif;
    background-position: 100%;
    background-image: url('../images/gradient.png');
    background-repeat: repeat-x; 
    
}
h2{
    color: #609732;
    font-family: 'Montserrat', sans-serif;
    background-position: 100%;
    background-image: url('../images/gradient.png');
    background-repeat: repeat-x; 
}
a{
    color: #CC5200;
    text-decoration:none;
}
nav a{
    color: #FF0018;
    text-decoration:none;
}
.byline{
    color: rgba(0,0,220,0.5);
    font-size:70%;
}

#page-copyright{
    color: #FFE25A; 
    letter-spacing:3px;
    text-transform:uppercase;
}
.bio{
    text-indent:3em;
}
footer{
    text-align:center;
    font-size:12px;
}
header nav ul li{
    list-style-type:none;
}
ul li{
    list-style-type:circle;
}