*{
    box-sizing: border-box;
}


body{
    background-color: #2decfd;  
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    display: flex;
    min-height: 100vh;
}

.width-wrap{
    margin:auto;
    max-width:1024px;
    padding: 0 2em;
    margin-bottom:3em;
    border-left: #000000;
    border-left:1px solid rgba(0,0,0,0.3);
    border-right: #000000;
    border-right:1px solid rgba(0,0,0,0.3);
    border-bottom: #000000;
    border-bottom:1px solid rgba(0,0,0,0.3);
    background-color: #0be941;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    display: flex;
    margin-top: 0;
    flex-direction: column;
}
.byline{
    opacity:0.5;
    font-size:70%;
    color:#cc3300;
}

.bio p{
    text-indent: 3em;
   
}

#page-copyright{
    color:#109970;  
    text-transform: uppercase;
    letter-spacing: 3px;
}

a{
    color:#441100;
    text-decoration: none;
}

blockquote{
    color:#446600;
}
figure img{
    box-shadow:2px 2px 3px rgba(0,0,0,0.5);
}

footer hr{
    width:50vw;
    min-width:300px;
    margin-top: 3em;
    margin-bottom: 2em;
    border-left:0;
    border-right:0;
    border-top:3px solid gray;
    border-bottom:8px dotted gray;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
}

footer{
    text-align: center;
    font-size:12px;
    margin-bottom:2em;
    margin-top: auto;
}

h1{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow:1px 1px 1px rgba(0,0,0,0.2);   
    
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -o-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -ms-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

h2{   
    font-family: 'Libre Baskerville', serif;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow:1px 1px 1px rgba(0,0,0,0.2);   
    
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -o-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -ms-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

header{
    border-top: 4px solid rgba(0,0,0,0.1);
    margin-left: -2em;
    margin-right: -2em;
}


header a{
    color: #f0f; 
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    display: block;
    border-top:4px solid transparent;


}
nav a:hover{
    border-top: 4px solid #009;
}

header nav li{
    list-style: none;
}

header nav ul{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center; 
}

ol li{
    list-style-position:inside;
}

ul li{
    list-style: circle;
    list-style-position:inside;
}
.mugshot{
    float: right;
    position: relative;
    top: -1em;
}
.paperclip{
    background: url("../images/paperclip.png");
    background-size: contain;
    width: 50px;
    height: 50px;
    
    position: absolute;
    top: -10px;
    right: -7px;
        
}
.favourites{
    clear: right;
}
nav{
    overflow: auto;
    margin-left: 2em;
    margin-right: 2em;
    border-bottom: 1px dotted rgba(0,0,0,0.3);
    margin-top: -4px;
}
.back-to-top{
    text-align: right;
    margin-right: -0.5em;
    opacity: 0.5;
}
.back-to-top:hover{
    opacity: 1;
}
.back-to-top a{
    position: fixed;
    bottom:3.5em;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;     
}

.bio{
    grid-column: span 2;
}

.glossary{
    grid-column: span 2;
}

#useful-links{
    grid-column: span 2;    
}

.gallery{
    grid-column-end: span 2;
    min-width: 100%;
}
.gallery-thumbnails{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
.gallery-thumbnails a img{
    width: 100%;
    display: block;
}
.row-span-2{
    grid-row: span 2;
}   
.col-span-2{
    grid-column: span 2;
}